version: '3'
services:
  web:
    build: .
    environment:
      RAILS_ENV: development
    depends_on:
      - postgres
      - redis
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    command: rails server -b 0.0.0.0

  postgres:
    image: postgres:16.1
    restart: unless-stopped
    environment:
      RAILS_ENV: development
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:7.2
    restart: unless-stopped
    ports:
      - "6380:6379"
    volumes:
      - redis-data:/data

volumes:
  postgres-data:
  redis-data:
