<%= turbo_frame_tag "recruitment_management" do %>
  <div class="mx-auto max-w-7xl">
    <div class="rounded-xl border border-slate-200 bg-white p-6 mb-6">
      <h2 class="text-lg font-semibold text-slate-900 mb-6"><%= t('recruitments.edit.title') %></h2>
      <%= render "form_update", recruitment: @recruitment, page_load: false %>
    </div>
  </div>
<% end %>
