<main class="min-h-screen" data-controller="candidates-form candidates">
  <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="mb-8">
      <div class="flex items-center justify-between">
        <div>
          <h1 class="text-4xl font-bold text-slate-900">Candidatos</h1>
          <p class="mt-2 text-slate-600">Gerencie e acompanhe todas as candidaturas</p>
        </div>
        <%= link_to "Adicionar Candidato", new_candidate_path,
            class: "rounded-lg bg-blue-600 px-4 py-2 text-sm font-medium text-white hover:bg-blue-700",
            data: { turbo_frame: "candidate_management",
            action: "click->candidates-form#showForm" },
            id: 'new-candidate-button' %>
      </div>

      <div class="mt-6 hidden" data-candidates-form-target="candidateForm">
        <%= turbo_frame_tag "candidate_management" do %>
        <% end %>
      </div>
    </div>

    <%= render 'filters' %>

    <%= render 'index_candidates_list' %>
  </div>
</main>
