<div class="mb-6 mt-6">
  <div class="flex flex-row justify-between">
    <div class="flex gap-2 flex-wrap">
      <% current_data = params[:data].presence %>

      <%= button_tag t('companies.filters.buttons.all'),
          class: link_classes.call(current_data.blank?),
          data: {
            action: "click->companies--companies#filterByData",
            value: '',
            "companies--companies_target": "filterButton"
          }
        %>

       <% [['Vagas', 'roles'], ['Processos', 'recruitment']].each do |tab| %>
          <%= button_tag tab.first,
            type: 'button',
            class: link_classes.call(current_data == tab.last),
            data: {
              action: "click->companies--companies#filterByData",
              value: tab.last,
              "companies--companies_target": "filterButton"
            }
          %>
        <% end %>
    </div>

    <%# <%= render 'form_search' %> %>
  </div>
</div>
