<p><%= t('devise.mailer.email_changed.hello', email: @email) %></p>

<p><%= t('devise.mailer.email_changed.we_re_contacting_you_to_notify_you_that_your_email_is_being_changed', email: @resource.email) %></p>
