<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "application" %>
  </head>

  <body class="mailer-body">
    <div class="mailer-container">
      <div class="mailer-header">
        <h1 class="text-xl font-bold text-slate-800">Managers Recruitment</h1>
      </div>
      <div class="mailer-content">
        <%= yield %>
      </div>
      <div class="mailer-footer">
        <p>&copy; <%= Time.now.year %> Managers Recruitment. Todos os direitos reservados.</p>
      </div>
    </div>
  </body>
</html>